extends layout

block content
  h1= title
  p Welcome to #{title}
  button(type="button")#rejoinZulu Rejoin Zulu
  h1 Photo
  form(enctype="multipart/form-data", action="/photo", method="POST")#uploadForm
    input(type="file", name="userPhoto")
    input(type="submit", value="Upload Image", name="submit")
  h1 Link
  form(action="/link", method="POST")
    input(type="text", name="photoLink")
    input(type="submit", value="Upload Link", name="submit")
  ul
    each l in linkList
      li
        a(href="#{l}")= l