doctype html
html
  head
    title= title
    meta(charset= 'utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- link(rel='stylesheet', href='/css/style.css')
    //- link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bulma/0.0.15/css/bulma.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js') 
    script(src='/js/main.js')
    script(src='/js/bootstrap.js')

  body
    block content
    //-div.container-fluid.container.is-fluid
      block content