/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/
a {
  color: #00B7FF;
}
h1:hover {
  cursor: pointer;
}
#zuluList li {
  overflow-x: hidden;
}
#zuluList .notification {
  overflow-x: hidden;
}
.notification {
  overflow-x: hidden;
}
#endisp:hover {
  cursor: pointer;
}
/*#todoList .list-group-item p {
  float: left;
}
#todoList .list-group-item button {
  float: right;  
}
#imgurImg .list-group-item button {
  float: left;
}
#imgurImg .list-group-item a {
  float: left;
}*/
.imglist {
  position: relative;
}
.imglist .imgDel {
  display: none;
  position: absolute;
  z-index: 5;
}
.imglist:hover .imgDel {
  display: block;
}
td.is-warning {
  background: #fce473;
  border-color: transparent;
  color: rgba(0,0,0,0.5);
}
td.is-warning:hover {
  background: #fbda41;
  border-color: transparent;
  color: rgba(0,0,0,0.5);
}
td.is-info {
  background: #42afe3;
  border-color: transparent;
  color: #fff;
}
td.is-info:hover {
  background: #1f99d3;
  border-color: transparent;
  color: #fff;
}
td.is-success {
  background: #97cd76;
  border-color: transparent;
  color: #fff;
}
td.is-success:hover {
  background: #7bbf51;
  border-color: transparent;
  color: #fff;
}
