/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/
a {
  color: #00B7FF;
}
h1:hover {
  cursor: pointer;
}
#zuluList li {
  overflow-x: hidden;
}
#zuluList .notification {
  overflow-x: hidden;
}
/*#todoList .list-group-item p {
  float: left;
}
#todoList .list-group-item button {
  float: right;  
}
#imgurImg .list-group-item button {
  float: left;
}
#imgurImg .list-group-item a {
  float: left;
}*/
.imglist .imgDel {
  display: none;
}