body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#imgurh1:hover {
  cursor: pointer;
}
#zuluList li {
  overflow-x: hidden;
}
.list-group-item p {
  float: left;
}
.list-group-item button {
  float: right;  
}